@model IEnumerable<MpiHeader_Test>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Welcome to Research page</h2>

<div class="navbar-fixed-top" style="font-weight: bold;">

    <p>
        @Html.ActionLink("DocUpload", "Index", "Docs")
    </p>
    <header>Manager Ratings</header>
</div>

