@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    159 Crocker Park Blvd <br />
    Westlake, OH 44145<br />
    <abbr title="Phone">P:</abbr>
    440.808.1500
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ryenugu@highlandusa.net">support@highlandusa.net</a><br />
    <strong>Research:</strong> <a href="mailto:research@highlandusa.net">research@highlandusa.net</a>
</address>